@font-face {
  font-family: "Proxima Nova";
  src: url(./fonts/proximanova_regular.ttf) format("ttf"),
    url(./fonts/ProximaNova-Regular.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(./fonts/ProximaNova-Bold.ttf) format("ttf"),
    url(./fonts/ProximaNova-Bold.woff2) format("woff2");
  font-weight: 700;
}

.page {
  margin: 0 auto;
  font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
  color: #323941;
}

/*--------------------HEADER-MENU-----------------------------*/

.header__menu {
  background-color: #323941;
  color: white;
}

.container {
  max-width: 960px;
  padding: 0 10px;
}

.header__menu-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  min-height: 48px;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__nav-item {
  margin-right: 24px;
  transition: 0.7s;
}

.header__nav-item:last-of-type {
  margin: 0;
}

.header__link {
  color: inherit;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.02em;
}

.header__link:hover {
  opacity: .3;
  transform: scale(1.1);
}

.header__menu-wrapper {
  display: flex;
  align-items: center;
}

.header__menu-num {
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .header__link {
    font-size: 16px;
  }
}

@media screen and (max-width: 1023px) {
  .header__link {
    font-size: 14px;
  }

  .header__nav-item {
    margin-right: 14px;
  }
}


/*--------------------HEADER-COPYRIGHT-----------------------------*/

.header__copyright {
  min-height: 101px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  max-width: 216px;
  height: 63px;
}

.header__owner {
  display: grid;
  grid-template-columns: 63px 83px;
  gap: 13px;
  padding-right: 100px;
}

.header__owner-name {
  margin: 8px 0 0 0;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 119.3%;
  text-transform: uppercase;
}

.header__owner-text {
  text-transform: lowercase;
  color: #009EFF;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
}

@media screen and (max-width: 1279px) {
  .header__owner {
    padding-right: 90px;
  }

  .header__copyright {
    min-height: 80px;
  }
}

@media screen and (max-width: 1023px) {
  .header__owner {
    padding-right: 50px;
  }

  .header__copyright {
    min-height: 75px;
  }
}

/*--------------------CATEGORIES-----------------------------*/

.categories {
  background-color: #323941;
}

.categories__container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 137px);
}

.categories__card {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  text-decoration: none;
  position: relative;
  padding-top: 9px;
  padding-bottom: 14px;
  justify-content: flex-end;
  transition: .5s;
}

.categories__card:hover {
  background-color: #009EFF;
}

.categories__card:hover .categories__name-of-bike {
  opacity: 1;
}

.categories__name-of-bike {
  margin: 5px 0 0 0;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.4;
  color: white;
  transition: .5s;
}
